body {
    margin: 0;
    padding: 0;
    /*background: #222;*/
    font-family: Lato, sans-serif;
    font-size: 100%;
    color: #ddd;
}

header {
    width: 80%;
    margin: 10px auto 10px auto;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(240,249,232, 0.2);
    /*!*text-color: #ffffff;*!*/
}

footer {
    padding: 6px 10%;
    width: 80%;
}

p {
    font-size: 1.25em;
    /*color: #ddd;*/
    color: rgba(20, 20, 20, 0.8);
}

a {
    color: #004A8B;
}

a:hover {
    color: rgb(67, 69, 71);
    text-decoration: none;
}

#info-button {
    padding: 8px 5px;
    font-size: 0.9em;
    font-weight: bolder;
    border: 2px solid rgba(244, 244, 244, 0.2);
    background: rgba(100, 100, 100, 0.9);
    color: rgba(244, 244, 244, 0.8);
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    position: fixed;
    top: 11px;
    right: 52px;
    z-index: 9999;
    cursor: pointer;
}

#footer {
    width: 100%;
    background: rgba(244, 244, 244, 0.8);
    color: rgba(20, 20, 20, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 0px;
    padding: 0px;
    z-index: 9000;
    position: absolute;
    bottom: -10px;
    overflow: scroll;
}

#footer div {
    padding: 10px;
}

#footer h1 {
    font-size: 1.3em;
    margin: 0 0 5px 0;
}

.footer-img {
    float: right;
    height: 10vh;
    margin: 10px;
}

.legend {
    padding: 6px 8px;
    font-size: 1em;
    border: 2px solid rgba(244, 244, 244, 0.2);
    background: rgba(100, 100, 100, 0.9);
    color: rgba(244, 244, 244, 0.8);
    border-radius: 5px;
}

.legend h3 {
    font-size: 1.1em;
    font-weight: bolder;
    color: #ddd;
    margin: 0 0 10px 0;
}

.legend span {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 4px 0;
}

.legend label {
    font-size: 1.1em;
}

.legend label:after {
    content: '';
    display: block;
    clear: both;
}

.leaflet-popup-content {
    max-width: 160px;
}

.leaflet-bar a {
    /* border: 2px solid rgba(244, 244, 244, 0.2); */
    background: rgba(100, 100, 100, 0.9);
    color: rgba(244, 244, 244, 0.8);
}